<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>ChromaVRGradient3D</string>
	<key>CFBundleIdentifier</key>
	<string>london.chroma.aftereffects.ChromaVRGradient3D</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ChromaVRGradient3D</string>
	<key>CFBundlePackageType</key>
	<string>eFKT</string>
	<key>CFBundleSignature</key>
	<string>FXTC</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<string>No</string>
	<key>NSHumanReadableCopyright</key>
	<string>Chroma</string>
</dict>
</plist>
